.Containerlogo{
    width: 100%;
    display: flex;
    flex-direction: column;
    background-image : url('/assets/home/Mobilehomepage.png');
    background-repeat : no-repeat;
    background-size: cover;
    height: 100vh;

}
.logo{
    justify-content: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
#pawprint{
    width: 80%;
    padding-top: 5%;
    
}
.heading{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.heading h1{
        font-family: "Teko", sans-serif;
        font-optical-sizing: auto;
        font-style: normal;
    color: var(--textcolors);
}
.heading h1 span{
    color: var(--bg-colors);
}
.buttons{
    width: 100%;
    margin-top: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.input{
    width: 100%;
    margin-top: 35%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#NewWash{
    background-color: var(--bg-colors);
    color:var(--textcolors);
    border: none;
    padding: 17px 100px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 8px 2px;
    cursor: pointer;
    border-radius: 9px;
}


#Cellno{
    color: grey;
    padding-left: 6%;
    width: 80%;
    height: 6vh;
    border: none;
    border-radius: 9px;
    box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
}
#submit{
    background-color: var(--bg-colors);
    color:var(--textcolors);
    border: none;
    padding: 16px 50px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 30px 2px;
    cursor: pointer;
    border-radius: 9px;
    
}
@media screen and (min-width: 1024px){

    .Containerlogo ,.ContainerModal{
        width: 100%;
        background-image : url('/assets/home/Desktophomepage.png');
    }
    .logo{
        width: 100%;
        display: flex;
        flex-direction: column;
    ;
    }
   
    #pawprint{
        width: 20%;
        padding-top: 0%;
        
    }
    .heading{
        margin-top: -4%;
    }
    .heading h1{
        font-size: 50px;
    }
    .buttons{
        width:100%;
        margin-top:1%;
        display: flex;
        flex-direction:row;

    }
    .input{
        width: 90%;
        margin-top: -0%;
        display: flex;
        justify-content: end;
        align-items: end;
        flex-direction:row;
    }
    #NewWash{
        background-color: var(--bg-colors);
        color:var(--textcolors);
        border: none;
        padding: 12px 40px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 14px;
        margin: 8px 6px;
        cursor: pointer;
        border-radius: 9px;
    }
    #Cellno{
        padding-left: 3%;
        width: 30%;
        height: 5vh;
        border: none;
        border-radius: 9px;
        box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
        border-top-left-radius: 9px;
        border-bottom-left-radius: 9px;
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;
    }
    #submit{
        background-color: var(--bg-colors);
        color:var(--textcolors);
        border: none;
        padding: 11px 29px;
  
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 0px 2px;
        cursor: pointer;
        border-top-left-radius: 0px;
        border-bottom-left-radius: 0px;
        border-top-right-radius: 9px;
        border-bottom-right-radius: 9px;
        
    }
}